.dontents.row
  - @tweets.each do |tweet|
    -# = simple_format(tweet.user.name)
    = simple_format(tweet.text)
    -if user_signed_in? && current_user.id = tweet.user_id
      = link_to '削除する', "/tweets/#{tweet.id}", method: :delete
      = link_to '編集する', "/tweets/#{tweet.id}/edit", method: :get
= paginate(@tweets)
